@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Balsamiq+Sans:wght@400;700&family=Varela+Round&family=Vibur&display=swap");

:root {
  --font-landing: "arial";
  --clr-main: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/* <==========================Navigation bar=========================> */
nav {
  border: #000 double 0.2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
      180deg,
      rgb(255, 255, 255),
      rgba(255, 255, 255, 0.6)
    ),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  color: black;
  /* opacity: 0.6; */
  position: fixed;
  top: 0;
  width: 100%;
}
nav p {
  font-family: "Amatic SC", cursive;
  font-size: 2rem;
  padding: 0em 2em;
}
nav .buttons {
  padding: 1em;
  margin: 0 0 0 5em;
  display: flex;
}
nav button {
  margin: 0.2em 1em;
  padding: 1em 1.25em;
}

/* <=================Landing Part======================> */
.landing-part {
  height: 100vh;
  background-color: var(--clr-main);
  display: flex;
  justify-content: end;
  align-items: flex-end;
}
.landing-txt {
  margin: 1.4em 0em 0.2em 0em;
  padding: 0em 0.3em;
  font-size: 9rem;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: right;
  vertical-align: bottom;
}

/* <==================AboutMe Part=======================> */
.about-me {
  margin: 1em;
  padding: 1em;
  box-shadow: -0.1em 0.1em 0.5em 0 black;
}
.info {
  margin-left: 0.5em;
  font-size: 2rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: oblique;
  padding: 0.5em;
  text-decoration: underline;
}
.information {
  display: flex;
}
.my-img {
  margin: 0em 3em;
  flex-grow: 1;
  background-image: url(img/my_pic.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 15em;

  /* box-shadow: 0 0 1em 0 black; */
}
.info-txt {
  flex-basis: calc(100% / 3 * 2);
  margin-bottom: 1em;
  padding-left: 0.5em;
  font-size: 1.6rem;
}

/* <=================== Project Part =================> */

.project-part {
  margin: 1em 2em;
}
.proj-names-col {
  width: 100%;
}

.proj-head {
  /* text-align: center;     */
  font-size: 3rem;
  margin: 0em 0.6em;
}

.proj-1 {
  margin: 2em 1em;
  padding: 0.8em;
  background-color: rgb(232, 232, 232);
  font-size: 1.5rem;
  box-shadow: -0.7em 0.7em 0.2em 0.1em rgb(112, 97, 77);

  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

.proj-img {
  background-color: blue;
  margin-right: 1em;
}

.proj-discription {
  padding-left: 2em;
}

.proj-txt {
  flex-basis: calc(100% / 3 * 2);
}
.proj-img img {
  display: block;
  margin: auto auto;
  max-width: 10em;
  height: auto;
}

.proj-name {
  font-size: 1.9rem;
  padding: 0.4em 0.25em;
  background-color: #000;
  color: whitesmoke;
}
.github-txt {
  padding-left: 1.2em;
  font-size: 1.2rem;
}
.github-txt a {
  color: rgb(255, 123, 123);
}

/* <==================Contact Part=======================> */

.contact {
  padding: 2em 0.5em;
  background-color: rgb(68, 68, 68);
  color: #f5f5f5;
  font-size: 1.4rem;
}
.contact-me {
  font-size: 2rem;
}
.email,
.linkdln,
.github,
.address {
  margin-left: 1em;
  padding: 0.24em;
}
